body {
background-color: #0B0D17;
font-family: 'Bellefair', serif;
color: #FFFFFF;
text-transform: uppercase;
}

/* Background Images */

.homePage {
  background-image: url(../assets/home/background-home-desktop.jpg);
  background-size: cover;
}


h1 {
font-size: 150px;
font-weight: normal;
}

h2 {
  font-size: 100px;
}

h3 {
  font-size: 56px;
}

h4 {
  font-size: 32px;
}

h5 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 28px;
  color: #D0D6F9;
  letter-spacing: 4.75px;
}

.subHeading1 {
  font-size: 28px;
}

.subHeading2 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 14px;
  letter-spacing: 2.35px;
}

p {
  font-family: 'Barlow Condensed', sans-serif;
}
